body {
    background-image: url('http://bit.ly/UpQgJ6');
    repeat: no-repeat;
}
#green {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #008800;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003500), to(#008800));
    background-image: -webkit-linear-gradient(left, #003500, #008800); 
    background-image:    -moz-linear-gradient(left, #003500, #008800);
    background-image:     -ms-linear-gradient(left, #003500, #008800);
    background-image:      -o-linear-gradient(left, #003500, #008800);
}

#red {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #9370DB;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8A2BE2), to(#9370DB));
    background-image: -webkit-linear-gradient(left, #8A2BE2, #9370DB);
    background-image:    -moz-linear-gradient(left, #8A2BE2, #9370DB);
    background-image:     -ms-linear-gradient(left, #8A2BE2, #9370DB);
    background-image:      -o-linear-gradient(left, #8A2BE2, #9370DB);
}

